########################################################################################################################

### Provider / Datasource
DS_PDC_SERVICE_KEY=
DS_PDC_SECRET_KEY=
DS_PDC_EXCHANGE_TRIGGER_API_KEY=

### Consumer / Service
PDC_SERVICE_KEY=
PDC_SECRET_KEY=
PDC_EXCHANGE_TRIGGER_API_KEY=

########################################################################################################################

### HTTPS tunneling
NGROK_AUTHTOKEN=
NGROK_DOMAIN=

########################################################################################################################

# Exchange IDs
CONTRACT_ID=
#
PROVIDER_OFFER_ID=
PROVIDER_RESOURCE_ID=
#
CONSUMER_OFFER_ID=
CONSUMER_RESOURCE_ID=

# Authorization ( <user>:<pass> encoded w/ base64 )
PROVIDER_AUTH_BASIC=