apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: worker-pvc
  namespace: ptx-edge
  annotations:
    defaultVolumeType: local
spec:
  accessModes:
    - ReadWriteOncePod
  resources:
    requests:
      storage: 100Mi
  storageClassName: local-path
  volumeMode: Filesystem
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: builder
  labels:
    app: builder
automountServiceAccountToken: false
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: secret-creator
  namespace: ptx-edge
rules:
  - apiGroups: [ "" ]
    resources: [ "secrets" ]
    verbs: [ "create" ]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: secret-creator
  namespace: ptx-edge
subjects:
  - kind: ServiceAccount
    name: builder
    namespace: ptx-edge
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: secret-creator
---
apiVersion: batch/v1
kind: Job
metadata:
  name: consumer-test-secret
  namespace: ptx-edge
spec:
  completions: 1
  parallelism: 1
  backoffLimit: 0
  template:
    metadata:
      labels:
        app: consumer
    spec:
      serviceAccountName: builder
      initContainers:
        - name: builder
          image: registry.k3d.local:5000/ptx-edge/builder:1.0
          imagePullPolicy: IfNotPresent
          command: [ "python3", "-m", "app", "-v" ]
          volumeMounts:
            - name: src
              mountPath: /usr/src/builder/app
            - name: worker-dir
              mountPath: /usr/src/worker
              readOnly: false
            - name: data-dir
              mountPath: /var/cache/data
              readOnly: false
            - name: kube-api-client-cfg
              mountPath: /var/run/secrets/projected
              readOnly: true
          env:
            - name: BUILD_DATA_SRC
              value: "https://github.com/czeni/sample-datasets/raw/refs/heads/main/mnist_train_data.npz"
            - name: BUILD_DATA_DST
              value: "/var/cache/data/"
            - name: BUILD_WORKER_SRC
              value: secret://czentye:${DH_TOKEN}
      imagePullSecrets:
        - name: worker-pull-cred
      containers:
        - name: worker
          image: czentye/worker:latest
          imagePullPolicy: Always
          command: [ "/bin/sh", "-c" ]
          args:
            - echo "=== worker started ===";
              echo ">>> INPUTS";
              ls -hl /usr/src/worker /var/cache/data;
              echo -e "\n@@@ Generating results...\n";
              sleep 1s;
              echo "Result created" >> /var/cache/result/result.txt;
              echo ">>> OUTPUTS";
              ls -hl /var/cache/result;
              echo "=== worker ended ===";
          volumeMounts:
            - name: worker-dir
              mountPath: /usr/src/worker
              readOnly: true
            - name: data-dir
              mountPath: /var/cache/data
              readOnly: true
            - name: result-dir
              mountPath: /var/cache/result
              readOnly: false
      volumes:
        - name: src
          hostPath:
            path: /usr/local/share/ptx-edge/builder/app
            type: Directory
        - name: data-dir
          emptyDir:
            sizeLimit: 100Mi
        - name: worker-dir
          emptyDir:
            sizeLimit: 100Mi
        - name: result-dir
          persistentVolumeClaim:
            claimName: worker-pvc
        - name: kube-api-client-cfg
          projected:
            defaultMode: 420
            sources:
              - serviceAccountToken:
                  expirationSeconds: 3607
                  path: token
              - configMap:
                  items:
                    - key: ca.crt
                      path: ca.crt
                  name: kube-root-ca.crt
              - downwardAPI:
                  items:
                    - fieldRef:
                        apiVersion: v1
                        fieldPath: metadata.namespace
                      path: namespace
      restartPolicy: Never