**/.*
**/.idea
**/.venv
**/.tox
**/__pycache__
**/*.egg-info
**/*.zip
**/*.bkp
**/*.dtmp
**/*.log
kubernetes/test/**/*.xml
kubernetes/src/.cache
kubernetes/src/.creds
kubernetes/src/registry/.certs
kubernetes/deployment/bme/.creds/*