**/.*
**/.idea
**/.venv
**/.tox
**/__pycache__
**/*.egg-info
**/*.zip
**/*.bkp
**/*.dtmp
**/*.log
kubernetes/src/.cache
kubernetes/src/.creds
kubernetes/src/registry/.certs
kubernetes/deployment/*/creds/*
kubernetes/deployment/*/manifests/*
kubernetes/deployment/training/data/resource/*
kubernetes/src/samples/datasets/*.npz
kubernetes/test/**/*.xml
kubernetes/test/demos/demo1/creds/*