apiVersion: v1
kind: Service
metadata:
  name: {{ (cfg.builder.prefix if cfg.builder and cfg.builder.prefix else "builder") ~ "-" ~ name }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ name }}
    app.kubernetes.io/component: worker
    app.kubernetes.io/part-of: {{ name }}
    app.kubernetes.io/managed-by: {{ cfg.controller.manager }}
    {# autofilled #}
spec:
  selector:
    ptxedgeworkers.dataspace.ptx.org/id: {{ name }}
  type: ClusterIP
  ports:
    - name: webhook-port
      protocol: TCP
      {% set builder_port = cfg.builder.port | int if cfg.builder and cfg.builder.port else 9999 %}
      port: {{ builder_port }}
      targetPort: {{ builder_port }}
  publishNotReadyAddresses: true