apiVersion: v1
kind: Service
metadata:
  name: {{ (cfg.builder.name if cfg.builder and cfg.builder.name else "builder") ~ "-" ~ name }}
  namespace: {{ namespace }}
  labels:
    tier: worker
    {# autofilled #}
spec:
  selector:
    ptxedgeworkers.dataspace.ptx.org/component: {{ name }}
    tier: worker
  type: ClusterIP
  ports:
    - name: webhook-port
      protocol: TCP
      {% set builder_port = cfg.builder.port | int if cfg.builder and cfg.builder.port else 9999 %}
      port: {{ builder_port }}
      targetPort: {{ builder_port }}
  publishNotReadyAddresses: true