{% set public = spec.service.interfaces | selectattr("public") | first
                if spec.service and spec.service.interfaces is iterable %}
{% set middlewares = [] %}
{% if public %}
  {% if public.restricted %}
    {% set middlewares = middlewares + [namespace ~ "-api-basic-auth@kubernetescrd"] %}
  {% endif %}
  {% if public.prefixed %}
    {% set middlewares = middlewares + [namespace ~ "-" ~ name ~ "-stripprefix@kubernetescrd"] %}
  {% endif %}
{% endif %}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    tier: worker
    {# autofilled #}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: {{ "websecure" if public and public.secured else "web" }}
    traefik.ingress.kubernetes.io/router.middlewares: {{ middlewares | join(",") }}
spec:
  ingressClassName: traefik
  rules:
    - http:
        paths:
          - path: {{ "/worker/" ~ name if public and public.prefixed else "/" }}
            pathType: Prefix
            backend:
              service:
                name: {{ name }}
                port:
                  number: {{ public.port | int if public }}
