apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ name ~ "-stripprefix" }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ name }}
    app.kubernetes.io/component: worker
    app.kubernetes.io/part-of: {{ name }}
    app.kubernetes.io/managed-by: {{ cfg.controller.manager }}
    {# autofilled #}
spec:
  stripPrefix:
    prefixes:
      - {{ "/worker/" ~ name }}