apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ name }}
    app.kubernetes.io/component: worker
    app.kubernetes.io/part-of: {{ name }}
    app.kubernetes.io/managed-by: {{ cfg.controller.manager }}
    {# autofilled #}
spec:
  selector:
    ptxedgeworkers.dataspace.ptx.org/id: {{ name }}
  type: ClusterIP
  {% if spec.service and spec.service.interfaces is iterable %}
  ports:
  {% for interface in spec.service.interfaces %}
    - name: {{ "port-" ~ interface.port }}
      port: {{ interface.port | int }}
      targetPort: {{ interface.port | int }}
      protocol: TCP
      appProtocol: http
  {% endfor %}
  {% endif %}