apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    tier: worker
    {# autofilled #}
spec:
  selector:
    ptxedgeworkers.dataspace.ptx.org/component: {{ name }}
    tier: worker
  type: ClusterIP
  {% if spec.service and spec.service.interfaces is iterable %}
  ports:
  {% for interface in spec.service.interfaces %}
    - name: {{ "port-" ~ interface.port }}
      port: {{ interface.port | int }}
      targetPort: {{ interface.port | int }}
      protocol: TCP
      appProtocol: http
  {% endfor %}
  {% endif %}