apiVersion: batch/v1
kind: Job
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ name }}
    app.kubernetes.io/component: worker
    app.kubernetes.io/part-of: {{ name }}
    app.kubernetes.io/managed-by: {{ cfg.controller.manager }}
    {# autofilled #}
spec:
  completions: 1
  parallelism: 1
  backoffLimit: 1
  template:
    metadata:
      labels:
        ptxedgeworkers.dataspace.ptx.org/id: {{ name }}
    spec:
      {% filter indent(width=6, first=true) %}
        {% include "worker_containers.yaml.jinja2" %}
      {% endfilter %}