apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ name ~ '-stripprefix' }}
  namespace: {{ namespace }}
  labels:
    tier: worker
    {# autofilled #}
spec:
  stripPrefix:
    prefixes:
      - {{ '/worker/' ~ name }}