apiVersion: batch/v1
kind: Job
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    tier: worker
    {# autofilled #}
spec:
  completions: 1
  parallelism: 1
  backoffLimit: 1
  template:
    metadata:
      labels:
        ptxedgeworkers.dataspace.ptx.org/component: {{ name }}
        tier: worker
    spec:
      restartPolicy: Never
      {% filter indent(width=6, first=true) %}
        {% include "worker_containers.yaml.jinja2" %}
      {% endfilter %}