apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    tier: worker
    {# autofilled #}
spec:
  replicas: 1
  selector:
    matchLabels:
      ptxedgeworkers.dataspace.ptx.org/component: {{ name }}
      tier: worker
  template:
    metadata:
      labels:
        ptxedgeworkers.dataspace.ptx.org/component: {{ name }}
        tier: worker
    spec:
      restartPolicy: Always
      {% filter indent(width=6, first=true) %}
        {% include "worker_containers.yaml.jinja2" %}
      {% endfilter %}