{%- if extensions is defined and extensions.get('x-database-model') %}
    group: ClassVar[str] = "{{ extensions['x-database-model']['group'] }}"
    kind: ClassVar[str] = "{{ extensions['x-database-model']['kind'] }}"
    plural: ClassVar[str] = "{{ extensions['x-database-model']['plural'] }}"
    singular: ClassVar[str]  = "{{ extensions['x-database-model']['singular'] }}"
    version: ClassVar[str] = "{{ extensions['x-database-model']['version'] }}"
{%- endif %}