{%- for field in fields %}
  {%- if 'SecretStr' in field.type_hint %}

    @field_serializer('{{ field.name }}', mode='plain', return_type=str)
    def serialize_{{ field.name }}(self, secret: SecretStr, info: Any) -> str:
        if info.context and info.context.get("expose_secrets"):
            return secret.get_secret_value()
        return str(secret)
  {%- endif %}
{%- endfor %}