fastapi~=0.115.4
#fastapi[standard]~=0.115.4     # For the fastapi shell command
pydantic~=2.9.2
uvicorn~=0.32.0
#hypercorn~=0.17.3              # Optional ASGI server
#granian~=1.6.3                 # Optional ASGI server