apiVersion: v1
kind: Service
metadata:
  {# name: autofilled #}
  {# namespace: autofilled #}
  labels:
    tier: worker
    {# autofilled #}
spec:
  selector:
    app.kubernetes.io/name: {{ cfg.name | default("worker") }}
    tier: worker
  type: ClusterIP
  ports:
    - name: webhook-port
      protocol: TCP
      port: 9999
      targetPort: 9999
  publishNotReadyAddresses: true
