apiVersion: v1
kind: Service
metadata:
  {# name: autofilled #}
  {# namespace: autofilled #}
  labels:
    tier: worker
    {# autofilled #}
spec:
  selector:
    app.kubernetes.io/name: {{ cfg.name | default("worker") }}
    tier: worker
  type: ClusterIP
  {% if service.interfaces is iterable %}
  ports:
  {% for interface in service.interfaces %}
    - name: {{ "port-" ~ interface.port }}
      port: {{ interface.port | int }}
      targetPort: {{ "port-" ~ interface.port }}
      protocol: TCP
      appProtocol: http
  {% endfor %}
  {% endif %}